openapi: 3.2.0
info:
  title: Ki Broker Trading Platform API (observed) Dashboard API
  version: '2026-07-25'
  summary: Observed HTTP surface of Ki's partner-gated broker trading platform.
  description: '**This is an API Evangelist DERIVED specification, not a Ki-published document.**


    Ki (Lloyd''s Syndicate 1618) publishes no developer portal, no API reference and no OpenAPI.'
  contact:
    name: Ki Insurance
    url: https://ki-insurance.com/
  x-apievangelist-derivation:
    method: derived
    source: https://app.ki-insurance.com/assets/index-DgeF7w2c.js
    observed: '2026-07-25'
    note: Not a provider-published specification. Do not treat as a Ki contract.
  x-observed-endpoints-unmapped:
  - path: /api/user/current/logout
    registry_key: user.logout
    note: endpoint observed in the client registry; HTTP method not determinable from the minified bundle
  - path: /api/quote/{p1}/sov
    registry_key: quote.uploadSov
    note: endpoint observed in the client registry; HTTP method not determinable from the minified bundle
  - path: /api/quote/{p1}/pdf/subjectivities
    registry_key: subjectivities
    note: endpoint observed in the client registry; HTTP method not determinable from the minified bundle
  - path: /api/umr/master-line-slip
    registry_key: uniqueMarketReference.masterLineSlip
    note: endpoint observed in the client registry; HTTP method not determinable from the minified bundle
  - path: /api/indications/consents
    registry_key: indicationsConsent.list
    note: endpoint observed in the client registry; HTTP method not determinable from the minified bundle
  - path: /api/indications/affirm
    registry_key: indicationsConsent.consent
    note: endpoint observed in the client registry; HTTP method not determinable from the minified bundle
servers:
- url: https://app.ki-insurance.com
  description: Ki broker trading platform (same-origin API; partner-gated)
security:
- auth0Bearer: []
tags:
- name: Dashboard
paths:
  /api/dashboard/indications:
    get:
      operationId: getDashboardIndications
      summary: Retrieve dashboard indications
      description: Observed in the Ki broker platform client bundle as `dashboard.indications` -> `GET /api/dashboard/indications?days=${e}&useDomainModelBasedIndications=${t}`. Request and response schemas are not published by Ki and are deliberately left unspecified rather than invented.
      tags:
      - Dashboard
      x-observed-registry-key: dashboard.indications
      x-observed-method-evidence: call-site proximity in the client bundle
      x-observed-confidence: medium
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
      parameters:
      - name: days
        in: query
        required: false
        schema:
          type: string
        description: Query parameter observed verbatim in the published client bundle.
      - name: useDomainModelBasedIndications
        in: query
        required: false
        schema:
          type: string
        description: Query parameter observed verbatim in the published client bundle.
  /api/dashboard/renewals:
    get:
      operationId: getDashboardRenewals
      summary: Retrieve dashboard renewals
      description: Observed in the Ki broker platform client bundle as `dashboard.renewals` -> `GET /api/dashboard/renewals?days=${e}&useDomainModelBasedIndications=${t}`. Request and response schemas are not published by Ki and are deliberately left unspecified rather than invented.
      tags:
      - Dashboard
      x-observed-registry-key: dashboard.renewals
      x-observed-method-evidence: call-site proximity in the client bundle
      x-observed-confidence: medium
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
      parameters:
      - name: days
        in: query
        required: false
        schema:
          type: string
        description: Query parameter observed verbatim in the published client bundle.
      - name: useDomainModelBasedIndications
        in: query
        required: false
        schema:
          type: string
        description: Query parameter observed verbatim in the published client bundle.
components:
  responses:
    Forbidden:
      description: Forbidden. The client routes the user to the forbidden page.
    Maintenance:
      description: Service unavailable. The client routes the user to the maintenance page.
    Unauthorized:
      description: Unauthorized. The client clears the session and returns the user to login.
  securitySchemes:
    auth0Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Auth0-issued access token. The client attaches `Authorization: Bearer <token>` to every call. Issuer `https://login.ki-insurance.com/`, audience `https://api.ki.com`.'
    auth0OpenId:
      type: openIdConnect
      openIdConnectUrl: https://login.ki-insurance.com/.well-known/openid-configuration
      description: Auth0 OIDC discovery for the partner login (authorization code + PKCE).
