openapi: 3.1.0
info:
  title: Ki Broker Trading Platform API (observed)
  version: '2026-07-25'
  summary: Observed HTTP surface of Ki's partner-gated broker trading platform.
  description: '**This is an API Evangelist DERIVED specification, not a Ki-published document.**


    Ki (Lloyd''s Syndicate 1618) publishes no developer portal, no API reference and no OpenAPI. This
    document was derived on 2026-07-25 from the endpoint registry that Ki''s own broker platform ships
    in its public JavaScript bundle at `https://app.ki-insurance.com/assets/index-DgeF7w2c.js`. Every
    path and every HTTP method below was observed verbatim in that bundle, together with the request helpers
    (`GET`/`POST`/`PUT`/`DELETE`) that call them.


    What is REAL here: path templates, HTTP methods, query-parameter names, the `Authorization: Bearer`
    scheme, the `application/json` content negotiation, and the 401/403/503 handling the client implements.


    What is NOT specified: request and response schemas. Ki does not publish them and they are left empty
    rather than invented. Path-parameter NAMES are assigned by API Evangelist because the minified bundle
    does not retain them.


    The API is partner-gated: access requires an Auth0 authorization-code login at `https://login.ki-insurance.com/`
    against audience `https://api.ki.com`. There is no self-serve signup.'
  contact:
    name: Ki Insurance
    url: https://ki-insurance.com/
  x-apievangelist-derivation:
    method: derived
    source: https://app.ki-insurance.com/assets/index-DgeF7w2c.js
    observed: '2026-07-25'
    note: Not a provider-published specification. Do not treat as a Ki contract.
  x-observed-endpoints-unmapped:
  - path: /api/user/current/logout
    registry_key: user.logout
    note: endpoint observed in the client registry; HTTP method not determinable from the minified bundle
  - path: /api/quote/{p1}/sov
    registry_key: quote.uploadSov
    note: endpoint observed in the client registry; HTTP method not determinable from the minified bundle
  - path: /api/quote/{p1}/pdf/subjectivities
    registry_key: subjectivities
    note: endpoint observed in the client registry; HTTP method not determinable from the minified bundle
  - path: /api/umr/master-line-slip
    registry_key: uniqueMarketReference.masterLineSlip
    note: endpoint observed in the client registry; HTTP method not determinable from the minified bundle
  - path: /api/indications/consents
    registry_key: indicationsConsent.list
    note: endpoint observed in the client registry; HTTP method not determinable from the minified bundle
  - path: /api/indications/affirm
    registry_key: indicationsConsent.consent
    note: endpoint observed in the client registry; HTTP method not determinable from the minified bundle
servers:
- url: https://app.ki-insurance.com
  description: Ki broker trading platform (same-origin API; partner-gated)
security:
- auth0Bearer: []
components:
  securitySchemes:
    auth0Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Auth0-issued access token. The client attaches `Authorization: Bearer <token>` to
        every call. Issuer `https://login.ki-insurance.com/`, audience `https://api.ki.com`.'
    auth0OpenId:
      type: openIdConnect
      openIdConnectUrl: https://login.ki-insurance.com/.well-known/openid-configuration
      description: Auth0 OIDC discovery for the partner login (authorization code + PKCE).
  responses:
    Unauthorized:
      description: Unauthorized. The client clears the session and returns the user to login.
    Forbidden:
      description: Forbidden. The client routes the user to the forbidden page.
    Maintenance:
      description: Service unavailable. The client routes the user to the maintenance page.
tags:
- name: Administration
- name: Broking Houses
- name: Classes of Business
- name: Configuration
- name: Dashboard
- name: Facilities
- name: Indications
- name: Leads
- name: Market Leaders
- name: Market References
- name: Master Data
- name: Pipeline
- name: Platform
- name: Quotes
- name: Risk Codes
- name: Schedule of Values
- name: Slip Extraction
- name: Support
- name: Telemetry
- name: Users
paths:
  /api/brokinghouse/get-lloyds-broker-id:
    get:
      operationId: getBrokingHouseLloydsBrokerId
      summary: Resolve a Lloyd's broker id from broker code and pseudonym
      description: Observed in the Ki broker platform client bundle as `brokingHouse.lloydsBrokerId` ->
        `GET /api/brokinghouse/get-lloyds-broker-id?brokerCode=${e}&brokerPseudonym=${t}`. Request and
        response schemas are not published by Ki and are deliberately left unspecified rather than invented.
      tags:
      - Broking Houses
      x-observed-registry-key: brokingHouse.lloydsBrokerId
      x-observed-method-evidence: explicit GET helper call site
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
      parameters:
      - name: brokerCode
        in: query
        required: false
        schema:
          type: string
        description: Query parameter observed verbatim in the published client bundle.
      - name: brokerPseudonym
        in: query
        required: false
        schema:
          type: string
        description: Query parameter observed verbatim in the published client bundle.
  /api/brokinghouse/suggest:
    get:
      operationId: getBrokingHouseSuggest
      summary: Type-ahead search for broking houses
      description: Observed in the Ki broker platform client bundle as `brokingHouse.suggest` -> `GET
        /api/brokinghouse/suggest?query=${e}`. Request and response schemas are not published by Ki and
        are deliberately left unspecified rather than invented.
      tags:
      - Broking Houses
      x-observed-registry-key: brokingHouse.suggest
      x-observed-method-evidence: explicit GET helper call site
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
      parameters:
      - name: query
        in: query
        required: false
        schema:
          type: string
        description: Query parameter observed verbatim in the published client bundle.
  /api/brokinghouse/{brokingHouseId}/branch:
    post:
      operationId: createBrokingHouseBranches
      summary: Create a branch for a broking house
      description: Observed in the Ki broker platform client bundle as `brokingHouse.branches` -> `POST
        /api/brokinghouse/${e}/branch` (with an optional `?validToba=true` suffix). Request and response
        schemas are not published by Ki and are deliberately left unspecified rather than invented.
      tags:
      - Broking Houses
      x-observed-registry-key: brokingHouse.branches
      x-observed-method-evidence: explicit POST helper call site
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
      parameters:
      - name: brokingHouseId
        in: path
        required: true
        schema:
          type: string
      - name: validToba
        in: query
        required: false
        schema:
          type: boolean
        description: 'Observed verbatim in the client bundle: when set the client appends ?validToba=true.'
      requestBody:
        required: true
        description: JSON request body. Ki does not publish the request schema.
        content:
          application/json:
            schema: {}
  /api/brokinghouse/{brokingHouseId}/branch/{branchId}:
    delete:
      operationId: deleteBrokingHouseBranch
      summary: Update a broking-house branch
      description: Observed in the Ki broker platform client bundle as `brokingHouse.branch` -> `DELETE
        /api/brokinghouse/${e}/branch/${t}`. Request and response schemas are not published by Ki and
        are deliberately left unspecified rather than invented.
      tags:
      - Broking Houses
      x-observed-registry-key: brokingHouse.branch
      x-observed-method-evidence: explicit DELETE helper call site
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
      parameters: &id001
      - name: brokingHouseId
        in: path
        required: true
        schema:
          type: string
      - name: branchId
        in: path
        required: true
        schema:
          type: string
    put:
      operationId: updateBrokingHouseBranch
      summary: Update a broking-house branch
      description: Observed in the Ki broker platform client bundle as `brokingHouse.branch` -> `PUT /api/brokinghouse/${e}/branch/${t}`.
        Request and response schemas are not published by Ki and are deliberately left unspecified rather
        than invented.
      tags:
      - Broking Houses
      x-observed-registry-key: brokingHouse.branch
      x-observed-method-evidence: explicit PUT helper call site
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
      parameters: *id001
      requestBody:
        required: true
        description: JSON request body. Ki does not publish the request schema.
        content:
          application/json:
            schema: {}
  /api/brokinghouse/{brokingHouseId}/cobs:
    get:
      operationId: getClassOfBusinessBrokerClassOfBusiness
      summary: List classes of business for a broking house
      description: Observed in the Ki broker platform client bundle as `classOfBusiness.brokerClassOfBusiness`
        -> `GET /api/brokinghouse/${e}/cobs`. Request and response schemas are not published by Ki and
        are deliberately left unspecified rather than invented.
      tags:
      - Broking Houses
      x-observed-registry-key: classOfBusiness.brokerClassOfBusiness
      x-observed-method-evidence: call-site proximity in the client bundle
      x-observed-confidence: medium
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
      parameters:
      - name: brokingHouseId
        in: path
        required: true
        schema:
          type: string
  /api/cob:
    get:
      operationId: getClassOfBusiness
      summary: List classes of business
      description: Observed in the Ki broker platform client bundle as `classOfBusiness.classOfBusiness`
        -> `GET /api/cob`. Request and response schemas are not published by Ki and are deliberately left
        unspecified rather than invented.
      tags:
      - Classes of Business
      x-observed-registry-key: classOfBusiness.classOfBusiness
      x-observed-method-evidence: explicit GET helper call site
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
  /api/company-markets-config/{classOfBusinessId}:
    get:
      operationId: getCompanyMarketsConfig
      summary: Retrieve company-markets configuration for a class of business
      description: Observed in the Ki broker platform client bundle as `companyMarkets.config` -> `GET
        /api/company-markets-config/${e}`. Request and response schemas are not published by Ki and are
        deliberately left unspecified rather than invented.
      tags:
      - Market Leaders
      x-observed-registry-key: companyMarkets.config
      x-observed-method-evidence: explicit GET helper call site
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
      parameters:
      - name: classOfBusinessId
        in: path
        required: true
        schema:
          type: string
  /api/config/lineslips:
    get:
      operationId: getConfigLineslips
      summary: Retrieve line-slip configuration
      description: Observed in the Ki broker platform client bundle as `config.lineslips` -> `GET /api/config/lineslips`.
        Request and response schemas are not published by Ki and are deliberately left unspecified rather
        than invented.
      tags:
      - Configuration
      x-observed-registry-key: config.lineslips
      x-observed-method-evidence: explicit GET helper call site
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
  /api/contact/user-request:
    post:
      operationId: createContactUserRequest
      summary: Submit a user support request
      description: Observed in the Ki broker platform client bundle as `contact.userRequest` -> `POST
        /api/contact/user-request`. Request and response schemas are not published by Ki and are deliberately
        left unspecified rather than invented.
      tags:
      - Support
      x-observed-registry-key: contact.userRequest
      x-observed-method-evidence: explicit POST helper call site
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
      requestBody:
        required: true
        description: JSON request body. Ki does not publish the request schema.
        content:
          application/json:
            schema: {}
  /api/dashboard/indications:
    get:
      operationId: getDashboardIndications
      summary: Retrieve dashboard indications
      description: Observed in the Ki broker platform client bundle as `dashboard.indications` -> `GET
        /api/dashboard/indications?days=${e}&useDomainModelBasedIndications=${t}`. Request and response
        schemas are not published by Ki and are deliberately left unspecified rather than invented.
      tags:
      - Dashboard
      x-observed-registry-key: dashboard.indications
      x-observed-method-evidence: call-site proximity in the client bundle
      x-observed-confidence: medium
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
      parameters:
      - name: days
        in: query
        required: false
        schema:
          type: string
        description: Query parameter observed verbatim in the published client bundle.
      - name: useDomainModelBasedIndications
        in: query
        required: false
        schema:
          type: string
        description: Query parameter observed verbatim in the published client bundle.
  /api/dashboard/renewals:
    get:
      operationId: getDashboardRenewals
      summary: Retrieve dashboard renewals
      description: Observed in the Ki broker platform client bundle as `dashboard.renewals` -> `GET /api/dashboard/renewals?days=${e}&useDomainModelBasedIndications=${t}`.
        Request and response schemas are not published by Ki and are deliberately left unspecified rather
        than invented.
      tags:
      - Dashboard
      x-observed-registry-key: dashboard.renewals
      x-observed-method-evidence: call-site proximity in the client bundle
      x-observed-confidence: medium
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
      parameters:
      - name: days
        in: query
        required: false
        schema:
          type: string
        description: Query parameter observed verbatim in the published client bundle.
      - name: useDomainModelBasedIndications
        in: query
        required: false
        schema:
          type: string
        description: Query parameter observed verbatim in the published client bundle.
  /api/facilities/attestations:
    get:
      operationId: getFacilityAttestations
      summary: Retrieve facility attestations
      description: Observed in the Ki broker platform client bundle as `facilityAttestations` -> `GET
        /api/facilities/attestations?facilityId=${e}&cobId=${t}`. Request and response schemas are not
        published by Ki and are deliberately left unspecified rather than invented.
      tags:
      - Facilities
      x-observed-registry-key: facilityAttestations
      x-observed-method-evidence: call-site proximity in the client bundle
      x-observed-confidence: medium
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
      parameters:
      - name: facilityId
        in: query
        required: false
        schema:
          type: string
        description: Query parameter observed verbatim in the published client bundle.
      - name: cobId
        in: query
        required: false
        schema:
          type: string
        description: Query parameter observed verbatim in the published client bundle.
  /api/facilities/exclusion-clauses:
    get:
      operationId: getExclusionClausesList
      summary: List exclusion clauses for a class of business and facility
      description: Observed in the Ki broker platform client bundle as `exclusionClauses.list` -> `GET
        /api/facilities/exclusion-clauses?cobId=${e}&facilityId=${t}`. Request and response schemas are
        not published by Ki and are deliberately left unspecified rather than invented.
      tags:
      - Facilities
      x-observed-registry-key: exclusionClauses.list
      x-observed-method-evidence: call-site proximity in the client bundle
      x-observed-confidence: medium
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
      parameters:
      - name: cobId
        in: query
        required: false
        schema:
          type: string
        description: Query parameter observed verbatim in the published client bundle.
      - name: facilityId
        in: query
        required: false
        schema:
          type: string
        description: Query parameter observed verbatim in the published client bundle.
  /api/facilities/lineslip-mappings:
    get:
      operationId: getFacilitiesLineslipMappings
      summary: List facility line-slip mappings
      description: Observed in the Ki broker platform client bundle as `facilities.lineslipMappings` ->
        `GET /api/facilities/lineslip-mappings`. Request and response schemas are not published by Ki
        and are deliberately left unspecified rather than invented.
      tags:
      - Facilities
      x-observed-registry-key: facilities.lineslipMappings
      x-observed-method-evidence: explicit GET helper call site
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
  /api/facilities/triggerMarkets/{classOfBusinessId}:
    get:
      operationId: getSyndicateTrackerSyndicates
      summary: List tracker/trigger markets for a class of business
      description: Observed in the Ki broker platform client bundle as `syndicate.trackerSyndicates` ->
        `GET /api/facilities/triggerMarkets/${e}`. Request and response schemas are not published by Ki
        and are deliberately left unspecified rather than invented.
      tags:
      - Facilities
      x-observed-registry-key: syndicate.trackerSyndicates
      x-observed-method-evidence: explicit GET helper call site
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
      parameters:
      - name: classOfBusinessId
        in: path
        required: true
        schema:
          type: string
  /api/frontend-metrics:
    post:
      operationId: createFrontendMetrics
      summary: Submit front-end metrics
      description: Observed in the Ki broker platform client bundle as `frontendMetrics` -> `POST /api/frontend-metrics`.
        Request and response schemas are not published by Ki and are deliberately left unspecified rather
        than invented.
      tags:
      - Telemetry
      x-observed-registry-key: frontendMetrics
      x-observed-method-evidence: explicit POST helper call site
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
      requestBody:
        required: true
        description: JSON request body. Ki does not publish the request schema.
        content:
          application/json:
            schema: {}
  /api/indications/suggestions-all:
    get:
      operationId: getIndicationSuggestionsLegacy
      summary: Suggest indications for an insured (pre-v2 path)
      description: Observed in the Ki broker platform client bundle as `quote.indicationSuggestions` ->
        `GET api/indications/suggestions-all`. Request and response schemas are not published by Ki and
        are deliberately left unspecified rather than invented. This is the pre-v2 path; the client selects
        between it and /api/indications/v2/suggestions-all with a LaunchDarkly feature flag.
      tags:
      - Indications
      x-observed-registry-key: quote.indicationSuggestions
      x-observed-method-evidence: explicit GET helper call site
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
  /api/indications/v2/suggestions-all:
    get:
      operationId: getQuoteIndicationSuggestions
      summary: Suggest indications for an insured
      description: Observed in the Ki broker platform client bundle as `quote.indicationSuggestions` ->
        `GET api/indications/v2/suggestions-all`. Request and response schemas are not published by Ki
        and are deliberately left unspecified rather than invented.
      tags:
      - Indications
      x-observed-registry-key: quote.indicationSuggestions
      x-observed-method-evidence: explicit GET helper call site
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
  /api/leads:
    get:
      operationId: getLeadsList
      summary: List leads
      description: Observed in the Ki broker platform client bundle as `leads.list` -> `GET /api/leads`.
        Request and response schemas are not published by Ki and are deliberately left unspecified rather
        than invented.
      tags:
      - Leads
      x-observed-registry-key: leads.list
      x-observed-method-evidence: explicit GET helper call site
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
  /api/leads/{leadId}:
    get:
      operationId: getLeadsLead
      summary: Retrieve a lead
      description: Observed in the Ki broker platform client bundle as `leads.lead` -> `GET /api/leads/${e}`.
        Request and response schemas are not published by Ki and are deliberately left unspecified rather
        than invented.
      tags:
      - Leads
      x-observed-registry-key: leads.lead
      x-observed-method-evidence: call-site proximity in the client bundle
      x-observed-confidence: medium
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
      parameters:
      - name: leadId
        in: path
        required: true
        schema:
          type: string
  /api/leads/{leadId}/activate:
    post:
      operationId: createLeadsActivate
      summary: Activate a lead
      description: Observed in the Ki broker platform client bundle as `leads.activate` -> `POST /api/leads/${e}/activate`.
        Request and response schemas are not published by Ki and are deliberately left unspecified rather
        than invented.
      tags:
      - Leads
      x-observed-registry-key: leads.activate
      x-observed-method-evidence: explicit POST helper call site
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
      parameters:
      - name: leadId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        description: JSON request body. Ki does not publish the request schema.
        content:
          application/json:
            schema: {}
  /api/masterdata/compliance/search:
    get:
      operationId: getMasterdataCompliance
      summary: Search compliance master data
      description: Observed in the Ki broker platform client bundle as `masterdata.compliance` -> `GET
        /api/masterdata/compliance/search?iso2=${e}&query=${t}`. Request and response schemas are not
        published by Ki and are deliberately left unspecified rather than invented.
      tags:
      - Master Data
      x-observed-registry-key: masterdata.compliance
      x-observed-method-evidence: explicit GET helper call site
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
      parameters:
      - name: iso2
        in: query
        required: false
        schema:
          type: string
        description: Query parameter observed verbatim in the published client bundle.
      - name: query
        in: query
        required: false
        schema:
          type: string
        description: Query parameter observed verbatim in the published client bundle.
  /api/masterdata/ki/cargointeresttypes:
    get:
      operationId: getMasterdataCargoInterests
      summary: Get interests
      description: Observed in the Ki broker platform client bundle as `masterdata.cargo.interests` ->
        `GET /api/masterdata/ki/cargointeresttypes`. Request and response schemas are not published by
        Ki and are deliberately left unspecified rather than invented.
      tags:
      - Master Data
      x-observed-registry-key: masterdata.cargo.interests
      x-observed-method-evidence: explicit GET helper call site
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
  /api/masterdata/ki/cargoprojectdsudeductibledays:
    get:
      operationId: getMasterdataCargoDeductibles
      summary: Get deductibles
      description: Observed in the Ki broker platform client bundle as `masterdata.cargo.deductibles`
        -> `GET /api/masterdata/ki/cargoprojectdsudeductibledays`. Request and response schemas are not
        published by Ki and are deliberately left unspecified rather than invented.
      tags:
      - Master Data
      x-observed-registry-key: masterdata.cargo.deductibles
      x-observed-method-evidence: explicit GET helper call site
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
  /api/masterdata/ki/contingencyagerange:
    get:
      operationId: getMasterdataContingencyAgeRange
      summary: Get ageRange
      description: Observed in the Ki broker platform client bundle as `masterdata.contingency.ageRange`
        -> `GET /api/masterdata/ki/contingencyagerange`. Request and response schemas are not published
        by Ki and are deliberately left unspecified rather than invented.
      tags:
      - Master Data
      x-observed-registry-key: masterdata.contingency.ageRange
      x-observed-method-evidence: shared masterdata lookup hook (GET helper `oq`)
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
  /api/masterdata/ki/contingencydeductibletype:
    get:
      operationId: getMasterdataContingencyDeductibleType
      summary: Get deductibleType
      description: Observed in the Ki broker platform client bundle as `masterdata.contingency.deductibleType`
        -> `GET /api/masterdata/ki/contingencydeductibletype`. Request and response schemas are not published
        by Ki and are deliberately left unspecified rather than invented.
      tags:
      - Master Data
      x-observed-registry-key: masterdata.contingency.deductibleType
      x-observed-method-evidence: shared masterdata lookup hook (GET helper `oq`)
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
  /api/masterdata/ki/contingencyeventdescription:
    get:
      operationId: getMasterdataContingencyEventDescription
      summary: Get eventDescription
      description: Observed in the Ki broker platform client bundle as `masterdata.contingency.eventDescription`
        -> `GET /api/masterdata/ki/contingencyeventdescription`. Request and response schemas are not
        published by Ki and are deliberately left unspecified rather than invented.
      tags:
      - Master Data
      x-observed-registry-key: masterdata.contingency.eventDescription
      x-observed-method-evidence: shared masterdata lookup hook (GET helper `oq`)
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
  /api/masterdata/ki/contingencynonappearancegroup:
    get:
      operationId: getMasterdataContingencyNonApperanceGroup
      summary: Get nonApperanceGroup
      description: Observed in the Ki broker platform client bundle as `masterdata.contingency.nonApperanceGroup`
        -> `GET /api/masterdata/ki/contingencynonappearancegroup`. Request and response schemas are not
        published by Ki and are deliberately left unspecified rather than invented.
      tags:
      - Master Data
      x-observed-registry-key: masterdata.contingency.nonApperanceGroup
      x-observed-method-evidence: shared masterdata lookup hook (GET helper `oq`)
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
  /api/masterdata/ki/cyberbicoveragestype:
    get:
      operationId: getMasterdataCyberKiBicoveragetype
      summary: Get bicoveragetype
      description: Observed in the Ki broker platform client bundle as `masterdata.cyber.ki.bicoveragetype`
        -> `GET /api/masterdata/ki/cyberbicoveragestype`. Request and response schemas are not published
        by Ki and are deliberately left unspecified rather than invented.
      tags:
      - Master Data
      x-observed-registry-key: masterdata.cyber.ki.bicoveragetype
      x-observed-method-evidence: shared masterdata lookup hook (GET helper `oq`)
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
  /api/masterdata/ki/cyberbicoverincluded:
    get:
      operationId: getMasterdataCyberKiBi
      summary: Get bi
      description: Observed in the Ki broker platform client bundle as `masterdata.cyber.ki.bi` -> `GET
        /api/masterdata/ki/cyberbicoverincluded`. Request and response schemas are not published by Ki
        and are deliberately left unspecified rather than invented.
      tags:
      - Master Data
      x-observed-registry-key: masterdata.cyber.ki.bi
      x-observed-method-evidence: shared masterdata lookup hook (GET helper `oq`)
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
  /api/masterdata/ki/cyberbiosptype:
    get:
      operationId: getMasterdataCyberKiBiosptype
      summary: Get biosptype
      description: Observed in the Ki broker platform client bundle as `masterdata.cyber.ki.biosptype`
        -> `GET /api/masterdata/ki/cyberbiosptype`. Request and response schemas are not published by
        Ki and are deliberately left unspecified rather than invented.
      tags:
      - Master Data
      x-observed-registry-key: masterdata.cyber.ki.biosptype
      x-observed-method-evidence: shared masterdata lookup hook (GET helper `oq`)
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
  /api/masterdata/ki/cyberbiunscheduleosp:
    get:
      operationId: getMasterdataCyberKiBiospunschedule
      summary: Get biospunschedule
      description: Observed in the Ki broker platform client bundle as `masterdata.cyber.ki.biospunschedule`
        -> `GET /api/masterdata/ki/cyberbiunscheduleosp`. Request and response schemas are not published
        by Ki and are deliberately left unspecified rather than invented.
      tags:
      - Master Data
      x-observed-registry-key: masterdata.cyber.ki.biospunschedule
      x-observed-method-evidence: shared masterdata lookup hook (GET helper `oq`)
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
  /api/masterdata/ki/cyberdeductible:
    get:
      operationId: getMasterdataCyberKiDeductiblebasis
      summary: Get deductiblebasis
      description: Observed in the Ki broker platform client bundle as `masterdata.cyber.ki.deductiblebasis`
        -> `GET /api/masterdata/ki/cyberdeductible`. Request and response schemas are not published by
        Ki and are deliberately left unspecified rather than invented.
      tags:
      - Master Data
      x-observed-registry-key: masterdata.cyber.ki.deductiblebasis
      x-observed-method-evidence: shared masterdata lookup hook (GET helper `oq`)
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
  /api/masterdata/ki/cyberexcessbasis:
    get:
      operationId: getMasterdataCyberKiExcessbasis
      summary: Get excessbasis
      description: Observed in the Ki broker platform client bundle as `masterdata.cyber.ki.excessbasis`
        -> `GET /api/masterdata/ki/cyberexcessbasis`. Request and response schemas are not published by
        Ki and are deliberately left unspecified rather than invented.
      tags:
      - Master Data
      x-observed-registry-key: masterdata.cyber.ki.excessbasis
      x-observed-method-evidence: shared masterdata lookup hook (GET helper `oq`)
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
  /api/masterdata/ki/cyberindustrysector:
    get:
      operationId: getMasterdataCyberKiIndustrySectors
      summary: Get industrySectors
      description: Observed in the Ki broker platform client bundle as `masterdata.cyber.ki.industrySectors`
        -> `GET /api/masterdata/ki/cyberindustrysector`. Request and response schemas are not published
        by Ki and are deliberately left unspecified rather than invented.
      tags:
      - Master Data
      x-observed-registry-key: masterdata.cyber.ki.industrySectors
      x-observed-method-evidence: shared masterdata lookup hook (GET helper `oq`)
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
  /api/masterdata/ki/cyberlimitbasis:
    get:
      operationId: getMasterdataCyberKiLimitbasis
      summary: Get limitbasis
      description: Observed in the Ki broker platform client bundle as `masterdata.cyber.ki.limitbasis`
        -> `GET /api/masterdata/ki/cyberlimitbasis`. Request and response schemas are not published by
        Ki and are deliberately left unspecified rather than invented.
      tags:
      - Master Data
      x-observed-registry-key: masterdata.cyber.ki.limitbasis
      x-observed-method-evidence: shared masterdata lookup hook (GET helper `oq`)
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
  /api/masterdata/ki/cybernoofrecords:
    get:
      operationId: getMasterdataCyberKiNoOfRecords
      summary: Get noOfRecords
      description: Observed in the Ki broker platform client bundle as `masterdata.cyber.ki.noOfRecords`
        -> `GET /api/masterdata/ki/cybernoofrecords`. Request and response schemas are not published by
        Ki and are deliberately left unspecified rather than invented.
      tags:
      - Master Data
      x-observed-registry-key: masterdata.cyber.ki.noOfRecords
      x-observed-method-evidence: shared masterdata lookup hook (GET helper `oq`)
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
  /api/masterdata/ki/cybernooftransactions:
    get:
      operationId: getMasterdataCyberKiNoOfTransactions
      summary: Get noOfTransactions
      description: Observed in the Ki broker platform client bundle as `masterdata.cyber.ki.noOfTransactions`
        -> `GET /api/masterdata/ki/cybernooftransactions`. Request and response schemas are not published
        by Ki and are deliberately left unspecified rather than invented.
      tags:
      - Master Data
      x-observed-registry-key: masterdata.cyber.ki.noOfTransactions
      x-observed-method-evidence: shared masterdata lookup hook (GET helper `oq`)
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
  /api/masterdata/ki/cyberorganisationtype:
    get:
      operationId: getMasterdataCyberKiOrganisationtype
      summary: Get organisationtype
      description: Observed in the Ki broker platform client bundle as `masterdata.cyber.ki.organisationtype`
        -> `GET /api/masterdata/ki/cyberorganisationtype`. Request and response schemas are not published
        by Ki and are deliberately left unspecified rather than invented.
      tags:
      - Master Data
      x-observed-registry-key: masterdata.cyber.ki.organisationtype
      x-observed-method-evidence: shared masterdata lookup hook (GET helper `oq`)
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
  /api/masterdata/ki/cyberpcicompliant:
    get:
      operationId: getMasterdataCyberKiPcicompliant
      summary: Get pcicompliant
      description: Observed in the Ki broker platform client bundle as `masterdata.cyber.ki.pcicompliant`
        -> `GET /api/masterdata/ki/cyberpcicompliant`. Request and response schemas are not published
        by Ki and are deliberately left unspecified rather than invented.
      tags:
      - Master Data
      x-observed-registry-key: masterdata.cyber.ki.pcicompliant
      x-observed-method-evidence: shared masterdata lookup hook (GET helper `oq`)
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
  /api/masterdata/ki/cyberproducts:
    get:
      operationId: getMasterdataCyberKiProducts
      summary: Get products
      description: Observed in the Ki broker platform client bundle as `masterdata.cyber.ki.products`
        -> `GET /api/masterdata/ki/cyberproducts`. Request and response schemas are not published by Ki
        and are deliberately left unspecified rather than invented.
      tags:
      - Master Data
      x-observed-registry-key: masterdata.cyber.ki.products
      x-observed-method-evidence: shared masterdata lookup hook (GET helper `oq`)
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
  /api/masterdata/ki/cyberreinstatements:
    get:
      operationId: getMasterdataCyberKiReinstatements
      summary: Get reinstatements
      description: Observed in the Ki broker platform client bundle as `masterdata.cyber.ki.reinstatements`
        -> `GET /api/masterdata/ki/cyberreinstatements`. Request and response schemas are not published
        by Ki and are deliberately left unspecified rather than invented.
      tags:
      - Master Data
      x-observed-registry-key: masterdata.cyber.ki.reinstatements
      x-observed-method-evidence: shared masterdata lookup hook (GET helper `oq`)
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
  /api/masterdata/ki/cyberreinstatementsType:
    get:
      operationId: getMasterdataCyberKiReinstatementstype
      summary: Get reinstatementstype
      description: Observed in the Ki broker platform client bundle as `masterdata.cyber.ki.reinstatementstype`
        -> `GET /api/masterdata/ki/cyberreinstatementsType`. Request and response schemas are not published
        by Ki and are deliberately left unspecified rather than invented.
      tags:
      - Master Data
      x-observed-registry-key: masterdata.cyber.ki.reinstatementstype
      x-observed-method-evidence: call-site proximity in the client bundle
      x-observed-confidence: medium
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
  /api/masterdata/ki/cyberretrooption:
    get:
      operationId: getMasterdataCyberKiRetroactiveDates
      summary: Get retroactiveDates
      description: Observed in the Ki broker platform client bundle as `masterdata.cyber.ki.retroactiveDates`
        -> `GET /api/masterdata/ki/cyberretrooption`. Request and response schemas are not published by
        Ki and are deliberately left unspecified rather than invented.
      tags:
      - Master Data
      x-observed-registry-key: masterdata.cyber.ki.retroactiveDates
      x-observed-method-evidence: call-site proximity in the client bundle
      x-observed-confidence: medium
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
  /api/masterdata/ki/cybertechdisciplines:
    get:
      operationId: getMasterdataCyberKiTechdisciplines
      summary: Get techdisciplines
      description: Observed in the Ki broker platform client bundle as `masterdata.cyber.ki.techdisciplines`
        -> `GET /api/masterdata/ki/cybertechdisciplines`. Request and response schemas are not published
        by Ki and are deliberately left unspecified rather than invented.
      tags:
      - Master Data
      x-observed-registry-key: masterdata.cyber.ki.techdisciplines
      x-observed-method-evidence: shared masterdata lookup hook (GET helper `oq`)
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
  /api/masterdata/ki/cyberwarexclusion:
    get:
      operationId: getMasterdataCyberKiWarexclusion
      summary: Get warexclusion
      description: Observed in the Ki broker platform client bundle as `masterdata.cyber.ki.warexclusion`
        -> `GET /api/masterdata/ki/cyberwarexclusion`. Request and response schemas are not published
        by Ki and are deliberately left unspecified rather than invented.
      tags:
      - Master Data
      x-observed-registry-key: masterdata.cyber.ki.warexclusion
      x-observed-method-evidence: shared masterdata lookup hook (GET helper `oq`)
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
  /api/masterdata/ki/doindustry:
    get:
      operationId: getMasterdataDoIndustry
      summary: Get industry
      description: Observed in the Ki broker platform client bundle as `masterdata.do.industry` -> `GET
        /api/masterdata/ki/doindustry`. Request and response schemas are not published by Ki and are deliberately
        left unspecified rather than invented.
      tags:
      - Master Data
      x-observed-registry-key: masterdata.do.industry
      x-observed-method-evidence: call-site proximity in the client bundle
      x-observed-confidence: medium
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
  /api/masterdata/ki/energy-liability-number-employees:
    get:
      operationId: getMasterdataEnergyLiabilityNumberEmployees
      summary: Get numberEmployees
      description: Observed in the Ki broker platform client bundle as `masterdata.energyLiability.numberEmployees`
        -> `GET /api/masterdata/ki/energy-liability-number-employees`. Request and response schemas are
        not published by Ki and are deliberately left unspecified rather than invented.
      tags:
      - Master Data
      x-observed-registry-key: masterdata.energyLiability.numberEmployees
      x-observed-method-evidence: call-site proximity in the client bundle
      x-observed-confidence: medium
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
  /api/masterdata/ki/fiinstitution:
    get:
      operationId: getMasterdataFiInstitutionType
      summary: Get institutionType
      description: Observed in the Ki broker platform client bundle as `masterdata.fi.institutionType`
        -> `GET /api/masterdata/ki/fiinstitution`. Request and response schemas are not published by Ki
        and are deliberately left unspecified rather than invented.
      tags:
      - Master Data
      x-observed-registry-key: masterdata.fi.institutionType
      x-observed-method-evidence: call-site proximity in the client bundle
      x-observed-confidence: medium
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
  /api/masterdata/ki/gethqcountrylist:
    get:
      operationId: getMasterdataHqCountries
      summary: Get countries
      description: Observed in the Ki broker platform client bundle as `masterdata.hq.countries` -> `GET
        /api/masterdata/ki/gethqcountrylist`. Request and response schemas are not published by Ki and
        are deliberately left unspecified rather than invented.
      tags:
      - Master Data
      x-observed-registry-key: masterdata.hq.countries
      x-observed-method-evidence: shared masterdata lookup hook (GET helper `oq`)
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
  /api/masterdata/ki/gethqstatecanadalist:
    get:
      operationId: getMasterdataHqCaStates
      summary: Get caStates
      description: Observed in the Ki broker platform client bundle as `masterdata.hq.caStates` -> `GET
        /api/masterdata/ki/gethqstatecanadalist`. Request and response schemas are not published by Ki
        and are deliberately left unspecified rather than invented.
      tags:
      - Master Data
      x-observed-registry-key: masterdata.hq.caStates
      x-observed-method-evidence: explicit GET helper call site
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
  /api/masterdata/ki/gethqstateuslist:
    get:
      operationId: getMasterdataHqUsStates
      summary: Get usStates
      description: Observed in the Ki broker platform client bundle as `masterdata.hq.usStates` -> `GET
        /api/masterdata/ki/gethqstateuslist`. Request and response schemas are not published by Ki and
        are deliberately left unspecified rather than invented.
      tags:
      - Master Data
      x-observed-registry-key: masterdata.hq.usStates
      x-observed-method-evidence: shared masterdata lookup hook (GET helper `oq`)
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
  /api/masterdata/ki/hqstateaustralia:
    get:
      operationId: getMasterdataHqAuStates
      summary: Get auStates
      description: Observed in the Ki broker platform client bundle as `masterdata.hq.auStates` -> `GET
        /api/masterdata/ki/hqstateaustralia`. Request and response schemas are not published by Ki and
        are deliberately left unspecified rather than invented.
      tags:
      - Master Data
      x-observed-registry-key: masterdata.hq.auStates
      x-observed-method-evidence: shared masterdata lookup hook (GET helper `oq`)
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
  /api/masterdata/ki/noofproperties:
    get:
      operationId: getMasterdataPropertyNoOfProperties
      summary: Get noOfProperties
      description: Observed in the Ki broker platform client bundle as `masterdata.property.noOfProperties`
        -> `GET /api/masterdata/ki/noofproperties`. Request and response schemas are not published by
        Ki and are deliberately left unspecified rather than invented.
      tags:
      - Master Data
      x-observed-registry-key: masterdata.property.noOfProperties
      x-observed-method-evidence: explicit GET helper call site
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
  /api/masterdata/ki/pilimittypes:
    get:
      operationId: getMasterdataPiLimitTypes
      summary: Get limitTypes
      description: Observed in the Ki broker platform client bundle as `masterdata.pi.limitTypes` -> `GET
        /api/masterdata/ki/pilimittypes`. Request and response schemas are not published by Ki and are
        deliberately left unspecified rather than invented.
      tags:
      - Master Data
      x-observed-registry-key: masterdata.pi.limitTypes
      x-observed-method-evidence: explicit GET helper call site
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
  /api/masterdata/ki/placingbases:
    get:
      operationId: getMasterdataPlacingbases
      summary: Get placingbases
      description: Observed in the Ki broker platform client bundle as `masterdata.placingbases` -> `GET
        /api/masterdata/ki/placingbases?filter=${e}`. Request and response schemas are not published by
        Ki and are deliberately left unspecified rather than invented.
      tags:
      - Master Data
      x-observed-registry-key: masterdata.placingbases
      x-observed-method-evidence: call-site proximity in the client bundle
      x-observed-confidence: medium
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
      parameters:
      - name: filter
        in: query
        required: false
        schema:
          type: string
        description: Query parameter observed verbatim in the published client bundle.
  /api/masterdata/ki/propertylocations:
    get:
      operationId: getMasterdataPropertyLocations
      summary: Get locations
      description: Observed in the Ki broker platform client bundle as `masterdata.property.locations`
        -> `GET /api/masterdata/ki/propertylocations`. Request and response schemas are not published
        by Ki and are deliberately left unspecified rather than invented.
      tags:
      - Master Data
      x-observed-registry-key: masterdata.property.locations
      x-observed-method-evidence: explicit GET helper call site
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
  /api/masterdata/ki/propertyoccupancies:
    get:
      operationId: getMasterdataPropertyOccupancies
      summary: Get occupancies
      description: Observed in the Ki broker platform client bundle as `masterdata.property.occupancies`
        -> `GET /api/masterdata/ki/propertyoccupancies`. Request and response schemas are not published
        by Ki and are deliberately left unspecified rather than invented.
      tags:
      - Master Data
      x-observed-registry-key: masterdata.property.occupancies
      x-observed-method-evidence: explicit GET helper call site
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
  /api/masterdata/ki/propertyperils:
    get:
      operationId: getMasterdataPropertyPerils
      summary: Get perils
      description: Observed in the Ki broker platform client bundle as `masterdata.property.perils` ->
        `GET /api/masterdata/ki/propertyperils`. Request and response schemas are not published by Ki
        and are deliberately left unspecified rather than invented.
      tags:
      - Master Data
      x-observed-registry-key: masterdata.property.perils
      x-observed-method-evidence: explicit GET helper call site
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
  /api/masterdata/ki/territories:
    get:
      operationId: getMasterdataTerritories
      summary: Get territories
      description: Observed in the Ki broker platform client bundle as `masterdata.territories` -> `GET
        /api/masterdata/ki/territories`. Request and response schemas are not published by Ki and are
        deliberately left unspecified rather than invented.
      tags:
      - Master Data
      x-observed-registry-key: masterdata.territories
      x-observed-method-evidence: explicit GET helper call site
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
  /api/maxlinesizes:
    post:
      operationId: createAdminUploadMaxLineSize
      summary: Upload max-line-size configuration
      description: Observed in the Ki broker platform client bundle as `admin.uploadMaxLineSize` -> `POST
        /api/maxlinesizes`. Request and response schemas are not published by Ki and are deliberately
        left unspecified rather than invented.
      tags:
      - Administration
      x-observed-registry-key: admin.uploadMaxLineSize
      x-observed-method-evidence: explicit POST helper call site
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
      requestBody:
        required: true
        description: JSON request body. Ki does not publish the request schema.
        content:
          application/json:
            schema: {}
  /api/maxlinesizes/validate:
    post:
      operationId: createAdminValidateMaxLineSize
      summary: Validate an uploaded max-line-size file
      description: Observed in the Ki broker platform client bundle as `admin.validateMaxLineSize` ->
        `POST /api/maxlinesizes/validate`. Request and response schemas are not published by Ki and are
        deliberately left unspecified rather than invented.
      tags:
      - Administration
      x-observed-registry-key: admin.validateMaxLineSize
      x-observed-method-evidence: explicit POST helper call site
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
      requestBody:
        required: true
        description: JSON request body. Ki does not publish the request schema.
        content:
          application/json:
            schema: {}
  /api/nominated-insurer/cob/{classOfBusinessId}:
    get:
      operationId: getInsurerNominatedInsurerByClassOfBusiness
      summary: List nominated lead insurers for a class of business
      description: Observed in the Ki broker platform client bundle as `insurer.nominatedInsurerByClassOfBusiness`
        -> `GET /api/nominated-insurer/cob/${e}`. Request and response schemas are not published by Ki
        and are deliberately left unspecified rather than invented.
      tags:
      - Market Leaders
      x-observed-registry-key: insurer.nominatedInsurerByClassOfBusiness
      x-observed-method-evidence: explicit GET helper call site
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
      parameters:
      - name: classOfBusinessId
        in: path
        required: true
        schema:
          type: string
  /api/nominatedlead:
    get:
      operationId: getSyndicateLloydsLeaders
      summary: List Lloyd's lead syndicates
      description: Observed in the Ki broker platform client bundle as `syndicate.lloydsLeaders` -> `GET
        /api/nominatedlead`. Request and response schemas are not published by Ki and are deliberately
        left unspecified rather than invented.
      tags:
      - Market Leaders
      x-observed-registry-key: syndicate.lloydsLeaders
      x-observed-method-evidence: explicit GET helper call site
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
  /api/nominatedlead/v2/cob/{classOfBusinessId}:
    get:
      operationId: getSyndicateNominatedSyndicateByClassOfBusiness
      summary: List nominated lead syndicates for a class of business
      description: Observed in the Ki broker platform client bundle as `syndicate.nominatedSyndicateByClassOfBusiness`
        -> `GET /api/nominatedlead/v2/cob/${e}?newBusiness=${t||!1}`. Request and response schemas are
        not published by Ki and are deliberately left unspecified rather than invented.
      tags:
      - Market Leaders
      x-observed-registry-key: syndicate.nominatedSyndicateByClassOfBusiness
      x-observed-method-evidence: explicit GET helper call site
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
      parameters:
      - name: classOfBusinessId
        in: path
        required: true
        schema:
          type: string
      - name: newBusiness
        in: query
        required: false
        schema:
          type: string
        description: Query parameter observed verbatim in the published client bundle.
  /api/otto-sov/property-summary-data/{quoteId}:
    delete:
      operationId: deleteOttoSovPropertySummaryData
      summary: Delete property summary data for a quote
      description: Observed in the Ki broker platform client bundle as `otto.sov.deletePropertySummaryData`
        -> `DELETE /api/otto-sov/property-summary-data/${e}`. Request and response schemas are not published
        by Ki and are deliberately left unspecified rather than invented.
      tags:
      - Schedule of Values
      x-observed-registry-key: otto.sov.deletePropertySummaryData
      x-observed-method-evidence: explicit DELETE helper call site
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          type: string
  /api/otto-sov/url:
    post:
      operationId: createOttoSovStart
      summary: Start a schedule-of-values upload session
      description: Observed in the Ki broker platform client bundle as `otto.sov.start` -> `POST /api/otto-sov/url`.
        Request and response schemas are not published by Ki and are deliberately left unspecified rather
        than invented.
      tags:
      - Schedule of Values
      x-observed-registry-key: otto.sov.start
      x-observed-method-evidence: explicit POST helper call site
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
      requestBody:
        required: true
        description: JSON request body. Ki does not publish the request schema.
        content:
          application/json:
            schema: {}
  /api/pipeline:
    get:
      operationId: getPipelineList
      summary: List the broker quote pipeline
      description: Observed in the Ki broker platform client bundle as `pipeline.list` -> `GET /api/pipeline?useDomainModelBasedIndications=${e}`.
        Request and response schemas are not published by Ki and are deliberately left unspecified rather
        than invented.
      tags:
      - Pipeline
      x-observed-registry-key: pipeline.list
      x-observed-method-evidence: call-site proximity in the client bundle
      x-observed-confidence: medium
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
      parameters:
      - name: useDomainModelBasedIndications
        in: query
        required: false
        schema:
          type: string
        description: Query parameter observed verbatim in the published client bundle.
  /api/pipeline/csv:
    post:
      operationId: createPipelineCsv
      summary: Export the quote pipeline as CSV
      description: Observed in the Ki broker platform client bundle as `pipeline.csv` -> `POST /api/pipeline/csv`.
        Request and response schemas are not published by Ki and are deliberately left unspecified rather
        than invented.
      tags:
      - Pipeline
      x-observed-registry-key: pipeline.csv
      x-observed-method-evidence: explicit POST helper call site
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
      requestBody:
        required: true
        description: JSON request body. Ki does not publish the request schema.
        content:
          application/json:
            schema: {}
  /api/quote:
    post:
      operationId: createQuote
      summary: Create a quote
      description: Observed in the Ki broker platform client bundle as `quote.create` -> `POST /api/quote`.
        Request and response schemas are not published by Ki and are deliberately left unspecified rather
        than invented.
      tags:
      - Quotes
      x-observed-registry-key: quote.create
      x-observed-method-evidence: explicit POST helper call site
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
      requestBody:
        required: true
        description: JSON request body. Ki does not publish the request schema.
        content:
          application/json:
            schema: {}
  /api/quote-detail/coverage-option/{quoteId}:
    get:
      operationId: getQuoteCoverageOptionMapping
      summary: Retrieve coverage-option mapping for a quote
      description: Observed in the Ki broker platform client bundle as `quote.coverageOptionMapping` ->
        `GET /api/quote-detail/coverage-option/${e}`. Request and response schemas are not published by
        Ki and are deliberately left unspecified rather than invented.
      tags:
      - Quotes
      x-observed-registry-key: quote.coverageOptionMapping
      x-observed-method-evidence: explicit GET helper call site
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          type: string
  /api/quote-detail/{quoteId}:
    get:
      operationId: getQuoteDetail
      summary: Retrieve quote detail
      description: Observed in the Ki broker platform client bundle as `quote.detail` -> `GET /api/quote-detail/${e}`.
        Request and response schemas are not published by Ki and are deliberately left unspecified rather
        than invented.
      tags:
      - Quotes
      x-observed-registry-key: quote.detail
      x-observed-method-evidence: call-site proximity in the client bundle
      x-observed-confidence: medium
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
      parameters: &id002
      - name: quoteId
        in: path
        required: true
        schema:
          type: string
    post:
      operationId: createQuoteDetail
      summary: Retrieve quote detail
      description: Observed in the Ki broker platform client bundle as `quote.detail` -> `POST /api/quote-detail/${e}`.
        Request and response schemas are not published by Ki and are deliberately left unspecified rather
        than invented.
      tags:
      - Quotes
      x-observed-registry-key: quote.detail
      x-observed-method-evidence: call-site proximity in the client bundle
      x-observed-confidence: medium
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
      parameters: *id002
      requestBody:
        required: true
        description: JSON request body. Ki does not publish the request schema.
        content:
          application/json:
            schema: {}
  /api/quote/firm-order-notice/cob-cc-emails:
    get:
      operationId: getQuoteFonCcEmails
      summary: Retrieve firm-order-notice cc email addresses by class of business
      description: Observed in the Ki broker platform client bundle as `quote.fonCcEmails` -> `GET /api/quote/firm-order-notice/cob-cc-emails`.
        Request and response schemas are not published by Ki and are deliberately left unspecified rather
        than invented.
      tags:
      - Quotes
      x-observed-registry-key: quote.fonCcEmails
      x-observed-method-evidence: explicit GET helper call site
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
  /api/quote/indication/{indicationId}:
    post:
      operationId: createQuoteFromIndication
      summary: Create a quote from an indication
      description: Observed in the Ki broker platform client bundle as `quote.createFromIndication` ->
        `POST /api/quote/indication/${e}`. Request and response schemas are not published by Ki and are
        deliberately left unspecified rather than invented.
      tags:
      - Quotes
      x-observed-registry-key: quote.createFromIndication
      x-observed-method-evidence: explicit POST helper call site
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
      parameters:
      - name: indicationId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        description: JSON request body. Ki does not publish the request schema.
        content:
          application/json:
            schema: {}
  /api/quote/v2/{quoteId}/firm-order-note:
    post:
      operationId: createQuoteFirmOrderNoteV2
      summary: Issue a firm order note for a quote
      description: Observed in the Ki broker platform client bundle as `quote.firmOrderNoteV2` -> `POST
        /api/quote/v2/${e}/firm-order-note`. Request and response schemas are not published by Ki and
        are deliberately left unspecified rather than invented.
      tags:
      - Quotes
      x-observed-registry-key: quote.firmOrderNoteV2
      x-observed-method-evidence: explicit POST helper call site
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        description: JSON request body. Ki does not publish the request schema.
        content:
          application/json:
            schema: {}
  /api/quote/{quoteId}:
    get:
      operationId: getQuoteById
      summary: Retrieve a quote
      description: Observed in the Ki broker platform client bundle as `quote.quoteById` -> `GET /api/quote/${e}`.
        Request and response schemas are not published by Ki and are deliberately left unspecified rather
        than invented.
      tags:
      - Quotes
      x-observed-registry-key: quote.quoteById
      x-observed-method-evidence: explicit GET helper call site
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
      parameters: &id003
      - name: quoteId
        in: path
        required: true
        schema:
          type: string
    put:
      operationId: updateQuoteById
      summary: Update a quote
      description: Observed in the Ki broker platform client bundle as `quote.quoteById` -> `PUT /api/quote/${e}`.
        Request and response schemas are not published by Ki and are deliberately left unspecified rather
        than invented.
      tags:
      - Quotes
      x-observed-registry-key: quote.quoteById
      x-observed-method-evidence: explicit PUT helper call site
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
      parameters: *id003
      requestBody:
        required: true
        description: JSON request body. Ki does not publish the request schema.
        content:
          application/json:
            schema: {}
  /api/quote/{quoteId}/discard:
    put:
      operationId: updateQuoteDiscard
      summary: Discard a quote
      description: Observed in the Ki broker platform client bundle as `quote.discard` -> `PUT /api/quote/${e}/discard`.
        Request and response schemas are not published by Ki and are deliberately left unspecified rather
        than invented.
      tags:
      - Quotes
      x-observed-registry-key: quote.discard
      x-observed-method-evidence: explicit PUT helper call site
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        description: JSON request body. Ki does not publish the request schema.
        content:
          application/json:
            schema: {}
  /api/quote/{quoteId}/pdf:
    get:
      operationId: getQuotePdf
      summary: Download the quote document
      description: Observed in the Ki broker platform client bundle as `quote.pdf` -> `GET /api/quote/${e}/pdf`.
        Request and response schemas are not published by Ki and are deliberately left unspecified rather
        than invented.
      tags:
      - Quotes
      x-observed-registry-key: quote.pdf
      x-observed-method-evidence: explicit GET helper call site
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          type: string
  /api/quote/{quoteId}/quoteline/{quoteLineId}:
    delete:
      operationId: deleteQuote
      summary: Delete a quote line
      description: Observed in the Ki broker platform client bundle as `quote.delete` -> `DELETE /api/quote/${e}/quoteline/${t}`.
        Request and response schemas are not published by Ki and are deliberately left unspecified rather
        than invented.
      tags:
      - Quotes
      x-observed-registry-key: quote.delete
      x-observed-method-evidence: explicit DELETE helper call site
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          type: string
      - name: quoteLineId
        in: path
        required: true
        schema:
          type: string
  /api/quote/{quoteId}/sov:
    post:
      operationId: createQuoteSov
      summary: Upload or replace the schedule of values for a quote
      description: Observed in the Ki broker platform client bundle as `quote.sov` -> `POST /api/quote/${e}/sov`.
        Request and response schemas are not published by Ki and are deliberately left unspecified rather
        than invented.
      tags:
      - Quotes
      x-observed-registry-key: quote.sov
      x-observed-method-evidence: explicit POST helper call site
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
      parameters: &id004
      - name: quoteId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        description: JSON request body. Ki does not publish the request schema.
        content:
          application/json:
            schema: {}
    put:
      operationId: updateQuoteSov
      summary: Upload or replace the schedule of values for a quote
      description: Observed in the Ki broker platform client bundle as `quote.sov` -> `PUT /api/quote/${e}/sov`.
        Request and response schemas are not published by Ki and are deliberately left unspecified rather
        than invented.
      tags:
      - Quotes
      x-observed-registry-key: quote.sov
      x-observed-method-evidence: explicit PUT helper call site
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
      parameters: *id004
      requestBody:
        required: true
        description: JSON request body. Ki does not publish the request schema.
        content:
          application/json:
            schema: {}
  /api/quote/{quoteId}/startPricing:
    put:
      operationId: updateQuoteStartPricing
      summary: Start algorithmic pricing for a quote
      description: Observed in the Ki broker platform client bundle as `quote.startPricing` -> `PUT /api/quote/${e}/startPricing`.
        Request and response schemas are not published by Ki and are deliberately left unspecified rather
        than invented.
      tags:
      - Quotes
      x-observed-registry-key: quote.startPricing
      x-observed-method-evidence: explicit PUT helper call site
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        description: JSON request body. Ki does not publish the request schema.
        content:
          application/json:
            schema: {}
  /api/quote/{quoteId}/version:
    post:
      operationId: createQuoteVersion
      summary: Create a new version of a quote
      description: Observed in the Ki broker platform client bundle as `quote.createVersion` -> `POST
        /api/quote/${e}/version`. Request and response schemas are not published by Ki and are deliberately
        left unspecified rather than invented.
      tags:
      - Quotes
      x-observed-registry-key: quote.createVersion
      x-observed-method-evidence: explicit POST helper call site
      x-observed-confidence: high
      responses:
        '200':
          description: Successful response. Ki does not publish the response schema.
          content:
            application/json:
              schema: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/Maintenance'
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        description: JSON request body. Ki does not publish the request schema.
        content:
          application/json:
            schema: {}
  /api/quote/{quoteId}/{quoteLineId}/geocodingJobs:
    post:
      operationId: createQuoteProcessSov
      summary: Start geocoding jobs for a quote schedule of values
[...]
